* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("imagens/fundo.jpg")no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.cabecalho {
  width: 95%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
}
.cabecalho, h1 {
  text-transform: uppercase;
  font-size: 30px;
  color: #FF0000;
}
.container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.apps {
  width: 400px;
  max-width: 400px;
  min-width: 320px;
  height: 80px;
  margin: 10px;
}
.apps a {
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: #00FFFF;
  text-decoration: none;
  border-radius: 40px;
  cursor: pointer;
  letter-spacing: 1px;
}
.apps a img {
  width: 30px;
  margin-left: 20px;
}
.apps a:hover {
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
  color: white;
}
